.newsItem {
  width: 100%;
  border: 1px solid #EAECEE;
  border-radius: 12px;
  padding: 20px;
  background-color: #ffffff;
}

.tagsSpace {
  display: flex;
  flex-direction: row;
  margin-top: 2%;
  flex-wrap: wrap;

}
